doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='custom.css')
    link(type='text/css', rel='stylesheet', href='hover-min.css')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type='text/javascript', src='/jquery.backstretch.min.js')
    title Alexander Shagov
  body
    div(id="main")
      div(id="info")
        h3(id="name") Alexander Shagov
        h4(id= "about") Webdev. Music. Mood.
        a(href="https://www.linkedin.com/in/alexandershagov", class="hvr-bob")
          img(src="linkedin.png")
        a(href="https://twitter.com/socucius", class="hvr-bob")
          img(src="twitter.png")
        a(href="https://www.instagram.com/socucius/", class="hvr-bob")
          img(src="instagram.png")
        a(href="http://vk.com/id67776719", class="hvr-bob")
          img(src="vk.png")

    script(type='text/javascript').
        $.backstretch("bg.jpg", {speed: 150});
