doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='custom.css')
    link(type='text/css', rel='stylesheet', href='hover-min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Personal Website')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type='text/javascript', src='/jquery.backstretch.min.js')
    script(type='text/javascript', src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
    title Alexander Shagov
  
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter34638270 = new Ya.Metrika({
      id:34638270,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    
  body
    div(id="main", class="container")
      div(id="info")
        h3(id="name") Alexander Shagov
        h4(id= "about") Webdev. Music. Mood.
        a(href="https://www.linkedin.com/in/alexandershagov", class="hvr-bob")
          img(src="linkedin.png")
        a(href="https://twitter.com/socucius", class="hvr-bob")
          img(src="twitter.png")
        a(href="https://www.instagram.com/socucius/", class="hvr-bob")
          img(src="instagram.png")
        a(href="http://vk.com/id67776719", class="hvr-bob")
          img(src="vk.png")

    script(type='text/javascript').
      $.backstretch("bg.jpg", {speed: 150});

    noscript
      div
        img(src='https://mc.yandex.ru/watch/34638270', style='position:absolute; left:-9999px;', alt='')
