doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='custom.css')
    link(type='text/css', rel='stylesheet', href='hover-min.css')
    title Alexander Shagov
  body
    div(id="main")
      div(id="info")
        h3(id="name") Alexander Shagov
        h5(id="about") Feel free to contact.
        a(href="https://www.linkedin.com/in/alexandershagov", class="hvr-bob")
          img(src="linkedin.png")
        a(href="https://twitter.com/socucius", class="hvr-bob")
          img(src="twitter.png")
        a(href="https://www.instagram.com/socucius/", class="hvr-bob")
          img(src="instagram.png")
        a(href="http://vk.com/id67776719", class="hvr-bob")
          img(src="vk.png")
